#root {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: red;
}

.App {
  text-align: center;
  background-color: #2B2F53;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

.video_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  max-width: 300px;
  row-gap: 10px;
}

.card_description {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.video_title {
  text-align: left;
}
 
.video_stamp{
  font-size: 13px;
  color:  #FFFFFF99;
  text-align: left;
}

.feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.searchbar {
  margin: 10px;
}

.search {
  padding: 10px 0;
  border: 1px solid #EBEBF599;
  border-radius: 50px;
  display: inline;
  background-color: #363a5c;
  color: white;

}

.search input {
  background-color: inherit;
  width: 44%;
}

.search input:focus {
  border-color: transparent;
}

::placeholder {
  font-size: 1em;
  color: #FFF;
  padding: 5px;
}

.searchbar img {
  display: inline;
  padding: 10px;
  opacity: 1;
}
 
.searchbar span {
  width: 150px;
}
