#root {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: red;
}

.App {
  text-align: center;
  background-color: #2b2f53;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

.video_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  max-width: 300px;
  row-gap: 10px;
}

.card_description {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.video_title {
  text-align: left;
}

.video_stamp {
  font-size: 13px;
  color: #ffffff99;
  text-align: left;
}

.feed {
  @apply flex flex-row flex-wrap justify-center gap-8 pb-8;
}

.searchbar {
  margin: 10px;
}

.search {
  @apply inline rounded-[50px] border border-[#ebebf599] bg-[#363a5c] px-0 py-[10px] text-white;
}

.search input {
  @apply w-[44%] bg-inherit placeholder:p-[5px] placeholder:text-[1rem] placeholder:text-gray-300 focus:outline-none;
}

.searchbar img {
  @apply inline p-2.5 opacity-100;
}

.searchbar span {
  @apply ml-10 inline min-w-36;
}

.sidemenu {
  @apply bg-[#2e335a] text-sm text-[#ebebf599];
}

.sidemenu li {
  list-style-type: none;
}

.sidemenu img {
  @apply inline p-2.5 opacity-100;
}

.side-menu-section li :hover {
  background: linear-gradient(#8015a7, rgba(97, 54, 144, 0));
}

.side-menu-section {
  @apply p-2.5;
}

.side-menu-section li {
  @apply mx-0 my-5 flex;
}

.side-menu-section button {
  @apply w-full text-start;
}

.browerbutton {
  @apply mx-auto my-4;
}
